/* elements */

.select {
  border: 1px solid grey;
  background-color: black;
  color: white;
  padding: 0.25rem;
}

.button {
  border: 1px solid grey;
  background-color: black;
  color: white;
  padding: 0.25rem;
}

.button:active {
  background-color: #1f1f1f;
  color: grey;
}

.modeMenu {
  display: flex;
}

.modeList {
  border-right: 2px solid gray;
  width: min(20vw, 450px);
  height: 100vh;
}

.modeListHeading {
  margin: 1rem;
}

.modeListEditor {
  margin: 1rem;
}

.modeListEditor > select {
  margin: 1rem;
}

.modeListDraggable {
  background-color: black;
  margin: 1rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border: 1px solid gray;
}

.modeListDraggableActive {
  @extend .modeListDraggable;
  border: 2px solid red;
}

.modeListModeName {
  display: inline-block;
}

.modeEdit {
  margin: 2rem;
}

.colorEdit {
  display: flex;
}
